{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row container py-2"> 
    <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3 container py-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9 container py-5">
    <p>Здесь расскажу подробнее</p>
  </article>
</div>
{% endblock %}
